Source: opam
Section: ocaml
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders:
 Mehdi Dogguy <mehdi@debian.org>
Build-Depends:
 debhelper (>= 8),
 ocaml-nox,
 ocaml-findlib (>= 1.2.4),
 dh-ocaml (>= 0.9),
 libcudf-ocaml-dev,
 libdose3-ocaml-dev (>= 3.1.2),
 libre-ocaml-dev,
 libcmdliner-ocaml-dev,
 libextlib-ocaml-dev,
 libocamlgraph-ocaml-dev (>= 1.8)
Standards-Version: 3.9.3
Homepage: http://opam.ocamlpro.com
Vcs-Git: git://git.debian.org/git/pkg-ocaml-maint/packages/opam.git
Vcs-Browser: http://git.debian.org/?p=pkg-ocaml-maint/packages/opam.git

Package: opam
Architecture: any
Section: ocaml
Depends:
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
 wget | curl
Recommends:
 git,
 rsync
Description: package manager for OCaml
 OPAM stands for OCaml PAckage Manager. It aims to suit to a vast number
 of users and use cases, and has unique features:
 * Powerful handling of dependencies: versions constraints, optional
   dependencies, conflicts, etc.
 * Multiple repositories backends: HTTP, rsync, git
 * Ease to create packages and repositories
 * Ability to switch between different compiler versions
 .
 Typically, OPAM will probably make your life easier if you recognize
 yourself in at least one of these profiles:
 * You use multiple versions of the OCaml compiler, or you hack the compiler
   yourself and needs to frequently switch between compiler versions.
 * You use or develop software that needs a specific and/or modified version
   of the OCaml compiler to be installed.
 * You use or develop software that depends on a specific version of an OCaml
   library, or you just want to install a specific version of a package, not
   just the latest one.
 * You want to create your own packages yourself, put them on your own
   repository, with minimal effort.
